:root {
    --main: #51abff;
    --code: #d42543;
    --light-main: #1890ff;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    background-color: #fff;
}
body > h1:first-child {
    color: var(--main);
    text-align: center;
    position: relative;
}
body > h1:first-child a.logo {
    position: absolute;
    top: -10px;
    left: 32px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    background: url(../imgs/logo2-r-200X200-01.png) no-repeat center;
    background-size: 100%;
}
a {
    text-decoration: none;
}
a[href^="#"] {
    position: relative;
    display: block;
    padding: 12px 8px;
    font-weight: bold;
    color: #999;
    z-index: 9;
}
a[href^="#"]:hover::before {
    content: "#";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
a[href^="#"]:focus {
    outline: none;
    animation: message 2s ease-in-out 0s;
}
@keyframes message {
    from {
        color: #fff;
        background-color: rgb(244, 175, 76);
    } to {
        color: #999;
        background-color: transparent;
    }
}
a:not([href^="#"]) {
    font-style: italic;
    color: var(--main);
}
a:not([href^="#"]):hover {
    text-decoration: underline;
    color: var(--light-main);
}
a[href]:empty::before {
    content: attr(href);
}
a.h1 {
    font-size: 24px;
    line-height: 24px;
}
a.h2 {
    font-size: 18px;
    line-height: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
a.h3 {
    font-size: 14px;
    line-height: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
}
p {
    margin: 0;
    padding: 2px 16px;
    line-height: 20px;
    color: #666;
}
i {
    color: #b9b9b9;
}
:lang(code) {
    padding: 0 5px;
    margin: 0 2px;
    border-radius: 4px;
    font-style: normal;
    white-space: nowrap;
    border: 1px solid #d6d6d6;
    text-shadow: 0 1px #fff;
    color: var(--code);
    background: #eee;
}
time {
    font-style: italic;
    font-size: 12px;
    color: #999;
}
time::before {
    content: "Date: ";
}
ul {
    margin-top: 0;
}
.container,
body > section,
body > footer > section {
    margin-top: 48px;
    padding-bottom: 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body > section:last-of-type::before {
    content: "已到达最底部";
}
body > section:last-of-type {
    border-bottom-width: 4px;
}
body > section::before {
    content: "华丽的分界线";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
    text-align: center;
    font-size: 12px;
    color: #999;
}
body > section {
    border-bottom: 2px solid #eaeaea;
    position: relative;
}
article.code,
body > section > article {
    position: relative;
    border: 1px dashed #999;
    padding: 4px;
    margin: 8px 0;
    clear: both;
    overflow: hidden;
}
article.code::after,
body > section > article::after {
    content: "code";
    position: absolute;
    top: 4px;
    left: -24px;
    width: 68px;
    line-height: 14px;
    font-size: 12px;
    padding: 2px;
    text-align: center;
    color: #fff;
    background-color: var(--code);
    transform: rotate(-42deg);
}
article.code::before,
body > section > article::before {
    /*content: "";*/
    position: absolute;
    width: 8px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -4px;
    background-color: rgba(234, 234, 234, 0.54);
}
article.code > pre,
body > section > article > pre {
    width: calc(50% - 8px);
    float: left;
    margin: 4px;
    box-sizing: border-box;
}
article.code > pre:only-child,
body > section > article > pre:only-child {
    width: calc(100% - 8px);
}
article.code > .render,
body > section > article > .render {
    width: calc(50% - 8px);
    float: left;
    margin: 4px;
    box-sizing: border-box;
}
article.code > pre > code::-webkit-scrollbar,
body > section > article > pre > code::-webkit-scrollbar {
    display: none;
}
body > nav {
    display: inline-block;
    position: fixed;
    top: 98px;
    right: 32px;
    padding: 8px;
    border-radius: 8px;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}
body > nav a {
    padding: 0 !important;
    padding-left: 12px !important;
}
body > nav a::before {
    left: 4px !important;
}
body > nav a:focus {
    display: none;
}
body > nav .title {
    color: var(--light-main);
    cursor: pointer;
}
body > nav > ul {
    list-style: none;
    padding: 0;
}
body > nav .title.active + ul {
    display: none;
}
body > nav li {
    position: relative;
    padding-left: 24px;
}
body > nav li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    width: 1px;
    height: 100%;
    background-color: #999;
}
body > nav li::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 5px;
    background-color: #777;
}
body > nav li.h1 {
}
body > nav li.h2::after {
    width: 8px;
    height: 8px;
    top: 8px;
    left: 9px;
    border-radius: 4px;
    margin-top: -4px;
    background-color: #888;
}
body > nav li.h3::after {
    width: 6px;
    height: 6px;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    margin-top: -3px;
    background-color: #999;
}
body > footer {
    color: #fff;
    background-color: #1f1f1f;
}
body > footer .avatar {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    height: 80px;
    width: 80px;
}
body > footer .avatar img {
    width: 100%;
}
body > footer > section {
    padding: 12px 0 8px 12px;
}
body > footer > section > a {
    margin-right: 16px;
}
@media screen and (max-width: 920px) {
    body {
    }
    .container,
    body > section {
        margin: 24px 12px 0;
    }
    article.code::before,
    body > section > article::before {
        display: none;
    }
    article.code > pre,
    body > section > article > pre {
        width: calc(100% - 8px);
        padding-right: 0;
    }
    article.code > .render,
    body > section > article > .render {
        width: calc(100% - 8px);
        padding-left: 0;
    }
    a.h1 {
        font-size: 18px;
        line-height: 18px;
    }
    a.h2 {
        font-size: 16px;
        line-height: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    a.h3 {
        font-size: 14px;
        line-height: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    p {
        margin: 0;
        padding: 2px 16px;
        line-height: 20px;
        color: #666;
    }
    body > nav {
        position: static;
        display: block;
        margin: 0 12px;
    }
    body > nav a {
        padding: 0 !important;
    }
    body > footer .avatar {
        width: 36px;
        height: 36px;
    }
    body > footer .avatar img {
        width: 100%;
        height: 100%;
    }
    body > h1:first-child {
        font-size: 20px;
    }
    body > h1:first-child a.logo {
        width: 42px;
        height: 42px;
        left: 10px;
    }
}

/* ============= 重置第三方样式 start ================== */
.hljs {
    background-color: #eeeeee7d !important;
}
/* ============= 重置第三方样式 end ================== */
